@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	color: var(--c1);
	font: var(--text1);
	background-color: var(--c5);
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;

	&__main {
		flex: 1;
	}
}

.container {
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 var(--container-padding);

	&_2 {
		max-width: var(--container-max-width2);
	}
}

.d-none {
	display: none !important;
}

.txt {
}
.txt_accent,
.txt__accent {
	color: var(--c2);
}
.txt_b,
.txt__b {
	font-weight: 700;
}
