/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}

/* Убираем внутренние отступы */
ul,
ol {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul, у которых есть атрибут class*/
ul {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
	text-decoration-skip-ink: auto;
	text-decoration: none;
	color: inherit;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
	background-color: transparent;
	border: none;
	color: inherit;
}
button {
	padding: 0;
}
button,
label,
select {
	cursor: pointer;
}
button,
a {
	display: inline-block;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
